# We only include the first two directly,
# but ctree.h pulls in a lot more stuff.
include btrfs/ioctl.h
include btrfs/ctree.h
include btrfs/list.h
include btrfs/kerncompat.h
include btrfs/radix-tree.h
include btrfs/extent-cache.h
include btrfs/rbtree.h
include btrfs/extent_io.h

include COPYING
include README.rst

include tox.ini

# contains cffi-generated C files
prune bedup/__pycache__
prune bedup/platform/__pycache__

